* {
	font-family: 'Roboto';
}

#holder {
	margin: auto;
	width: 50%;
	border: 3px solid rgb(47, 47, 47);
	padding: 10px;
}

#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

div {
 vertical-align: top;
}

.main_title {
	font-size: 40
}