* {
	font-family: 'Roboto';
}

#holder {
	margin: auto;
	width: 820pt;
	border: 3px solid rgb(47, 47, 47);
	padding: 10px;
}

#symbol_map {

	margin: auto;
	width: 800pt;
	border: 3px solid rgb(47, 47, 47);
	padding-left: 100pt;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	
}

#bar_chart {
	margin: auto;
	width: 800pt;
	border: 3px solid rgb(47, 47, 47);
	padding: 10px;
}

#sunburst_container {
	vertical-align: top;
	margin: 0pt;
	width: 690pt;
	border: 3px solid rgb(47, 47, 47);
	padding-left: 100pt;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.text_block {
	margin: 0pt;
	width: 785pt;
	border: 3px solid rgb(47, 47, 47);
	padding: 10px;
}

div {
 vertical-align: top;
 border-radius: 25px;
}

.main_title {
	font-size: 40pt
}