* {
	font-family: 'Roboto';
}


#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

div {
 vertical-align: top;
}

.main_title {
	font-size: 40
}